node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

.trash
.trash/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# AI prompts
PROMPT.txt
PROMPT*.txt

